@use "../utils/_vars" as *;
.our-clients {
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.clients-icon {
  fill: #afb1b8;
  display: flex;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  &__background {
    width: 170px;
  }
  &:hover,
  &:focus {
    fill: $active-color;
    border-color: $active-color;
    cursor: pointer;
    transition-duration: $duration;
    transition-timing-function: $timing-function;
  }
}
