@use "../utils/_vars" as *;
.our-clients {
  flex-basis: calc((100% - 30px) / 2);
  display: flex;
  align-items: center;
  column-gap: 30px;
  flex-wrap: wrap;
  padding-bottom: 60px;
}
.clients-icon {
  fill: #afb1b8;
  display: flex;
  padding: 16px 52px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  &__background {
    margin-top: 30px;
    width: 210px;
  }
  &:hover,
  &:focus {
    fill: $active-color;
    border-color: $active-color;
    cursor: pointer;
    transition-duration: $duration;
    transition-timing-function: $timing-function;
  }
}
@media screen and (min-width: 768px) {
  .our-clients {
    flex-basis: calc((100% - 2 * 30px) / 3);
  }
  .clients-icon__background {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-icon {
    padding: 16px 32px;
    &__background {
      margin-top: 0;
      width: 170px;
    }
  }
  .our-clients {
    flex-basis: calc((100% - 5 * 30px) / 6);
    padding-bottom: 0;
  }
}
