@use "../utils/_vars" as *;
.come-to-us {
  text-align: center;
}

.come-to-us-title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  color: #ffffff;
  margin: 60px 0 20px 0;
  &__icons {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
  }

  &__element {
    display: flex;
    padding: 12px;
    margin-right: 10px;
    fill: #ffffff;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    &:hover,
    &:focus {
      background-color: $active-color;
      fill: #ffffff;
      cursor: pointer;
      transition-duration: $duration;
      transition-timing-function: $timing-function;
    }
  }
}
@media screen and (min-width: 768px) {
  .come-to-us {
    margin: 22px 0 0 144px;
  }
}
@media screen and (min-width: 1200px) {
  .come-to-us {
    margin: 0;
    max-width: 276px;
    text-align: left;
  }
  .come-to-us-title {
    margin: 72px 0px 20px 70px;
    &__icons {
      justify-content: space-between;
      padding-left: 70px;
      margin-right: 863px;
      padding-bottom: 0;
    }
  }
}
