@use "../utils/_vars" as *;
.footer-first-section {
  max-width: 480px;
}

.data-contact {
  display: flex;
  justify-content: center;
  text-align: center;
}
.adress {
  display: flex;
  justify-content: center;
  text-align: center;
  &__maps {
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    &:hover,
    &:focus {
      color: $active-color;
      transition-duration: $duration;
      transition-timing-function: $timing-function;
    }
  }

  &__mail {
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.3px;
    &:hover,
    &:focus {
      color: $active-color;
      transition-duration: $duration;
      transition-timing-function: $timing-function;
    }
  }
}
@media screen and (min-width: 768px) {
  .footer-tablet {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .footer-first-section {
    display: flex;
    flex-direction: column;
    padding-left: 76px;
    max-width: 329px;
  }
  .data-contact {
    max-width: 253px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-first-section {
    max-width: 246px;
    padding-left: 0;
    display: flex;
    margin-bottom: 60px;
  }

  .adress {
    justify-content: left;
  }
}
