@use "../utils/_vars" as *;
.form {
  margin-top: 12px;
  &__title {
    margin-top: 40px;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: rgba(33, 33, 33, 1);
  }
  &__element {
    position: relative;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 1);
  }
  &__input {
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 10px;
    padding-left: 40px;
    outline-style: none;
    &--icon-user {
      position: absolute;
      top: 29px;
      left: 12px;
    }
    &--icon-tel {
      position: absolute;
      width: 13px;
      top: 32px;
      left: 14px;
    }
    &--icon-email {
      position: absolute;
      width: 15px;
      top: 32px;
      left: 13px;
    }
  }
  &__input:is(:hover, :focus-within),
  textarea:is(:hover, :focus-within) {
    border-color: rgba(33, 150, 243, 1);
    transition-duration: $duration;
    transition-timing-function: $timing-function;
  }
  &__input:is(:hover, :focus-within) + svg {
    fill: rgba(33, 150, 243, 1);
    transition-duration: $duration;
    transition-timing-function: $timing-function;
  }
}
.checked {
  display: flex;
  width: 16px;
  height: 15px;
  position: absolute;
  top: 10px;
  appearance: none;
  &__container {
    position: relative;
  }
  &__no {
    position: absolute;
    top: 10px;
    left: 0px;
  }
  &__yes {
    position: absolute;
    display: none;
    top: 10px;
    left: 0px;
    fill: rgba(255, 255, 255, 1);
    background-color: $active-color;
    border-radius: 2px;
  }
}
.check:checked + .checked {
  display: initial;
}
.private-policy {
  display: flex;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 1);
  padding: 10px 0 31px 24px;
  &__link {
    text-decoration: underline;
    color: rgba(33, 150, 243, 1);
  }
}
.button-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  &__a {
    height: 50px;
    width: 200px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;
    background-color: rgba(33, 150, 243, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
}
@media screen and (min-width: 1200px) {
  .form {
    &__input--icon-user {
      top: 104px;
      left: 52px;
    }
    &__input--icon-tel {
      top: 174px;
      left: 54px;
    }
    &__input--icon-email {
      top: 243px;
      left: 54px;
    }
  }
  .checked {
    top: 442px;
    &__no {
      top: 442px;
    }
    &__yes {
      top: 442px;
    }
  }
  .private-policy {
    font-size: 14px;
    line-height: 1.71;
  }
}
