@use "../utils/_vars" as *;
.header {
  position: relative;
  display: flex;
  max-width: 480px;
}

.header1 {
  display: flex;
  align-items: center;
  max-width: 480px;
}

.navigation {
  display: none;
}

.now-1 {
  color: $active-color;
}
.contact-nav {
  display: none;
}

.icon-mail > svg {
  display: flex;
  margin-right: 8px;
  line-height: 1.17;
}
.icon-mail:hover,
.icon-mail:focus {
  fill: $active-color;
  transition-duration: $duration;
  transition-timing-function: $timing-function;
}

.menu-toggle {
  position: absolute;
  right: 0;
  top: 10;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media screen and (min-width: 767px) {
  .menu-toggle {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header {
    min-width: 768px;
  }
  .header1 {
    max-width: 1199px;
  }
  .navigation {
    display: contents;
    font-weight: 500;
    font-size: 14px;
    color: $brand-color;
    letter-spacing: 0.02em;
    line-height: 1.74;
    &__agency {
      padding: 0px 60px 0px 83px;
      position: relative;
      &--now::after {
        content: "";
        position: absolute;
        width: 56px;
        height: 4px;
        border: 1px solid rgba(33, 150, 243, 1);
        border-radius: 2px;
        background-color: $active-color;
        margin-top: 28px;
      }
    }
    &__portfolio {
      padding: 0px 60px 0px 0px;
      &--now::after {
        content: "";
        position: absolute;
        width: 56px;
        height: 4px;
        border: 1px solid rgba(33, 150, 243, 1);
        border-radius: 2px;
        background-color: $active-color;
        margin-top: 28px;
      }
    }
    &__contact {
      padding-right: 101px;
    }
  }

  .contact-nav {
    display: contents;
    display: block;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.2px;
    line-height: 1.17;
    &__mail {
      padding-top: 21px;
      padding-bottom: 10px;
      display: flex;
      line-height: 1.17;
      color: $description-color;
    }
    &__addres {
      display: flex;
      margin-left: 0;
      color: $description-color;
      line-height: 1.17;
      &:hover,
      &focus {
        color: $active-color;
        transition-duration: $duration;
        transition-timing-function: $timing-function;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .header {
    align-items: center;
    max-width: 1200px;
  }
  .header1 {
    max-width: 1200px;
  }
  .navigation {
    &__agency {
      padding: 0px 46px 0px 93px;
    }
    &__portfolio {
      padding: 0px 46px 0px 0px;
    }
    &__contact {
      padding-right: 345px;
    }
  }
  .contact-nav {
    display: flex;
    font-size: 14px;
    &__mail {
      padding: 0;
      padding-right: 30px;
      align-items: center;
    }
    &__addres {
      align-items: center;
    }
  }
}
