@use "../utils/_vars" as *;

.newsletter {
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  &-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__label {
    display: flex;
  }
  &__button {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 42px;
    width: 200px;
    height: 50px;
    background-color: rgba(33, 150, 243, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-bottom: 60px;
    &-icon {
      position: absolute;
      fill: rgba(255, 255, 255, 1);
      top: 13px;
      right: 13px;
    }
  }
}

.input-footer {
  display: flex;
  justify-content: center;
  padding-left: 16px;
  max-width: 450px;
  height: 50px;
  margin: 20px 0;
  outline-style: none;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  &:is(:hover, :focus-within) {
    border-color: rgba(33, 150, 243, 1);
    transition-duration: $duration;
    transition-timing-function: $timing-function;
  }
}
.button {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .newsletter-area {
    margin-top: 60px;
  }
  .newsletter__label {
    padding-left: 156px;
  }
}
@media screen and (min-width: 1200px) {
  .newsletter {
    padding: 72px 0 0 78px;
    justify-content: flex-start;
    &-area {
      margin-top: 0;
      width: 655px;
    }
    &__label {
      display: inline;
      padding-left: 0;
    }
    &__button {
      display: flex;
      display: inline;
      justify-content: flex-start;
      padding-left: 0px;
    }
  }
  .input-footer {
    display: inline;
    padding: 15px 0 15px 16px;
    margin-left: 78px;
    width: 350px;
  }
  .button {
    display: flex;
    display: inline;
    width: 200px;
    margin-bottom: 0;
    margin-left: 12px;
    justify-content: left;
  }
}
